#box_custom37
{
    text-align: center;
    max-width: 100%;
    border: 3px solid aliceblue;
}
#box_custom37>p{
    display: flex;
    justify-content: center;
}
.login-bar
{
    background-color: #373839;
}
#shoper-foot
{
    background-color: #373839;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shoper-foot>a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}#box_custom37
 {
     text-align: center;
     max-width: 100%;
     border: 3px solid aliceblue;
 }
#box_custom37>p{
    display: flex;
    justify-content: space-evenly;
}
.login-bar
{
    background-color: #373839;
}
#shoper-foot
{
    background-color: #373839;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shoper-foot>a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.menu .innermenu .menu-list > li:hover > h3{
    background-color: blue;
}
.menu .innermenu .menu-list > li:hover > h3> a >span {
    font-weight: bolder;
    color:#fff;
}
#box_custom37
{
    text-align: center;
    max-width: 100%;
    border: 3px solid aliceblue;
}
#box_custom37>p{
    display: flex;
    justify-content: space-evenly;
}
.login-bar
{
    background-color: #373839;
}
#shoper-foot
{
    background-color: #373839;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shoper-foot>a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}#box_custom37
 {
     text-align: center;
     max-width: 100%;
     border: 3px solid aliceblue;
 }
#box_custom37>p{
    display: flex;
    justify-content: space-evenly;
}
.login-bar
{
    background-color: #373839;
}
#shoper-foot
{
    background-color: #373839;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shoper-foot>a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.menu .innermenu .menu-list > li:hover > h3{
    background-color: red;
}
.menu .innermenu .menu-list > li:hover > h3> a >span {
    font-weight: bolder;
    color:#fff;
}
.box .boxhead,.footer .innerfooter
{
    background: none;
}



.description {
    font-family: 'Roboto', sans-serif;
}

.tab_buttons {
    overflow: hidden;
}
.tab_buttons button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
}

.tab_buttons button:hover {
    background-color: #e6e6e6;
}

.tab_buttons button.active {
    background-color: #e6e6e6;
}
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-container nav {
margin-bottom: 1em;
}